.hero-section {
    margin-block-start: 2em;
    position: relative;
    flex-direction: column-reverse;
    margin-inline: 0;
    align-items: center;

    // Wide desktop view
    @media (min-width: 1400px) {
        flex-direction: row;

        &::before {
            content: "";
            position: absolute;
            width: rem(70px);
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
            left: rem(-100px);
            top: 40%;
        }
    }

    h3 {
        span {
            color: $clr1;
        }
    }

    @media (min-width: $mobile-breakpoint) {
        justify-content: space-evenly;

        .left-hero-section {
            flex-direction: column;
            justify-content: space-around;
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     width: rem(150px);
        //     height: 1px;
        //     background-color: rgba(255, 255, 255, 0.2);
        //     left: rem(-100px);
        //     top: 25%;
        // }
    }


    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2em;
        position: relative;
        line-height: initial;
    }

    .text-wrapper::before {
        content: "";
        position: absolute;
        left: rem(-30px);
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .text-wrapper::after {
        content: "";
        position: absolute;
        left: rem(-30px);
        width: 15px;
        border-block: 1px solid rgba(255, 255, 255, 0.2);
        bottom: 0;
        height: 100%;
    }

    .left-hero-section {
        height: fit-content;
        gap: 2em;
    }

    .user-wallet {
        background-color: #7e7e7e1a;
        border-radius: 15px;
        height: 160px;
        width: fit-content;
        display: flex;
        position: relative;

        .user-balance {
            padding-inline: 1em;
            position: relative;
            height: fit-content;
            width: fit-content;
            bottom: 0;
            align-self: end;
            display: flex;
            flex-direction: column; 
            gap: .5em;
            color: $icon-clr;
            height: 100%;
            justify-content: center;
        }

        .user-name {
            align-self: start;
        }

        img {
            height: 60px;
            width: 55px;
            position: absolute;
            top: 15px;
            right: 15px;
            opacity: 0.5;
            &:first-of-type {
                filter: blur(5px);
            }
        }
    }

    img {
        height: 400px;
        width: 788px;
    }
}