@mixin btn-get-started() {
    all: unset;
    cursor: pointer;
    width: fit-content;
    background-image: linear-gradient(to right, #1D976C 0%, $clr1 51%, #1D976C 100%);
    transition: 0.5s;
    background-size: 200% auto;
    padding: 1em;
    padding-inline: 1.5em;
    color: black;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 600;

    &:hover {
        background-position: right center;
    }
}

@mixin btn-primary() {
    display: flex;
    align-content: center;
    all: unset;
    cursor: pointer;
    width: fit-content;
    background: #1D976C;
    transition: 0.5s;
    padding-inline: .5em;
    padding-block: .2em;
    border-radius: 10px;
    color: black;
}

@mixin logo() {
    grid-column: 1;
    padding-inline-start: 1em;
    display: flex;

    span {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-color: rgb(216, 216, 216);
            width: 5px;
            height: 1px;
            top: 2px;
            left: -6px;
        }

        &::after {
            content: '';
            position: absolute;
            background-color: rgb(216, 216, 216);
            width: 1px;
            height: 5px;
            top: 2px;
            left: -6px;
        }
    }
}