$desktop-padding: 200px;
$clr1: #26d592;
$clr2: #129971;
$clr3: #ea603f;
$icon-clr: #a3a3a3;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$extra-wide-breakpoint: 1200px;
$extra2-wide-breakpoint: 1500px;
